body{
  font-family: Helvetica, Arial, sans-serif;
}
#container{

  width: 500px;
  margin: auto;
  text-align: center;
}

#title{
  font-size: 25px;
}

#game{

}

.tiles {
  border: 1px solid black;
  width: 70px;
  height: 70px;
  margin: 10px;
  float: left;
}

.tiles:hover {
  background-color: #f6f6f6;
}

.hidden{
  display: none;
}

.revealed{
  display: inherit;
}

.matched{
  font-color: green;
  font-size: 45px;
  display: inherit;
}